html {
    scroll-behavior: smooth;
  }

body {
    background: black;
}

.nav-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(22, 22, 22);
}

.logotipo {
    width: 80px;
    margin: 1em 1em;
    opacity: 80%;
}

.logotipo:hover {
    opacity: 100%;
}

.navegacao-pagina {
    display: flex;
    width: 0 auto;
}

.navegacao-pagina li {
    margin: 0 1em;
    color: rgb(218, 218, 218);
    padding: 0 0 2px 0;
    font-family: 'Roboto Mono', monospace;
}

.navegacao-pagina li:hover {
    color: #ec407a;
    border-bottom: solid 1px white;
    transition: 0.2s;
}

.home {
    display: flex;
    background: black;
    align-items: center;
    margin: 7rem;
}

.home-container-text {
    width: 50%;
    margin: 2.5rem;
    line-height: 4rem;
}

.home-container-text h1 {
    color: white;
    font-size: 2.5rem;
    font-family: 'Roboto Mono', monospace;
}

.texto-marcado {
    background: #ec407a;

}

.nome-home {
    font-size: 4rem;
    font-weight: 700;
}


.gif-home {
    width: 40%;
}

.sobre {
    display: flex;
    background: black;
    align-items: center;
    padding: 7rem;
    }

.img-sobre {
    width: 30%;
    border: solid 5px white;
    border-radius: 50%;
}

.img-sobre:hover {
    border: solid 5px #ec407a;
    transition: 2s;
}

.sobre-texto {
    color: white;
    margin: 0 0 0 5em;
}

.titulos {
    color: white;
    font-size: 2.5rem;
    font-family:'Roboto Mono', monospace;
    font-weight: 400;
    margin: 0 0 2rem;
}

.sobre-texto p {
    font-family:'Roboto Mono', monospace;
    font-weight: 300;
    line-height: 2rem;
}

.projetos {
    padding: 7rem;
    margin: 5rem;
}

.projetos h2{
    text-align: center;
    margin: 0 0 6rem;
}

.itens-projetos-div {
    display: flex;
}

.itens-projetos-div article {
    margin: 1rem;
}

.itens-projetos {
    border: solid 1px
}

.itens-projetos:hover {
    border: solid 1px #ec407a;
    transition: 2s;
}

.itens-projetos-div h3 {
    color: #ec407a;
    font-family:'Roboto Mono', monospace;
    font-weight: 700;
    margin: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.itens-projetos-div p {
    color: white;
    font-family: 'Roboto Mono', monospace;
    line-height: 1.5rem;
}

.repositorio-github {
    color: #ec407a;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    padding: 1rem 0;
    margin: 2.5rem;
}

.repositorio-github a {
    opacity: 80%;
}

.repositorio-github a:hover {
    opacity: 100%;
    transition: 0.2s;
}

.servicos-grid {
    display: block;
}

.servicos {
    display: block;
    padding: 7rem;
}

.div-titulo-servicos {
    display: inline;
}

.div-titulo-servicos h2 {
    text-align: center;
    margin: 0 0 6rem;
}

.itens-servicos-div {
    display: flex;
}

.itens-servicos {
    margin: 1rem;
    border: solid 1px;
    padding: 2rem;
}

.itens-servicos:hover {
    border: solid 1px #ec407a;
    transition: 2s;
}

.itens-servicos h3{
    color: white;
    font-family:'Roboto Mono', monospace;
    margin: 1rem;
    font-size: 1.3rem;
    font-weight: 700;
}

.itens-servicos p {
    color: white;
    font-family:'Roboto Mono', monospace;
    margin: 1rem;
    line-height: 1.5rem;
}

.itens-servicos img {
    width: 70px;
    padding: 0 0 0 1rem;
}

.conhecimentos {
    padding: 7rem;
}

.div-titulo-conhecimentos h2 {
    text-align: center;
    margin: 0 0 7rem;
}

.itens-conhecimentos-div {
    display: flex;
}

.conhecimentos-item {
    display: grid;
    padding: 1rem;
}

.conhecimentos-item img {
    width: 20%;
    margin: 1rem auto;
    opacity: 80%;
}

.conhecimentos-item img:hover {
    opacity: 100%;
    
}

.conhecimentos-item p {
    color: white;
    font-family:'Roboto Mono', monospace;
    margin: 1rem;
    line-height: 1.5rem;
    text-align: center;
}

footer {
    display: flex;
    padding: 3rem;
    background: rgb(22, 22, 22);
}

footer h2 {
    color: white;
    font-family:'Roboto Mono', monospace;
    font-size: 1.5rem;
}

footer img {
    width: 3%;
}

@media screen and (min-width: 200px) and (max-width: 809px){
    
    header {
        display: block;
        margin: 0;
        background-color: rgb(22, 22, 22);
        position: fixed;
        z-index: 1;
        width: 100%;
        
    }

    .caixa {
        position: relative;
        width: 100%;
        margin: 0 auto;

    }
    
    .nav-cabecalho {
        display: grid;
        background: rgb(22, 22, 22);
        padding: 1em;
        margin: 0;
    }

    .logotipo {
        width: 15%;
        opacity: 100%;
        margin: 0 auto;

    }

    .link-logo {
        display:grid;
        padding: 0 0 1em 0;
        margin: 0;
    }

    .navegacao-pagina {
        display:inline-flex;
        width: 100%;
        align-items: center;
        margin: 0;
    }

    .navegacao-pagina li {
        color: rgb(218, 218, 218);
        padding: 0;
        font-family: 'Roboto Mono', monospace;
        width: 100%;
        margin: 0;
        font-size: small;
    }
    
    main {
        padding-top: 35%;
    }

    .home {
        display: inline;
        background: black;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .home-container-text {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .home-container-text h1 {
        padding: 1em;
        line-height: 2em;
        font-size: 1.2em;
        text-align: center;
    }

    .nome-home { 
        font-size: 1.6em;
        line-height: 1.2em;
    }

    .gif-home{
        display: none;
    }

    body {
        width: 100%;
    }

    .sobre {
        display: grid;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .img-sobre {
        margin: 2em auto;
    }

    .sobre-texto {
        padding: 1em;
        margin: 0;
        text-align: center;
    }

    .sobre-texto h2 {
        font-size: 2em;
    }

    .sobre-texto p {
        padding: 1em;
    }

    .projetos {
        display: block;
        padding: 0;
        margin: 0;
    }

    .projetos h2 {
        font-size: 2em;
        margin: 1em 0;
    }

    .itens-projetos-div {
        display: block;
    }

    .itens-projetos {
        padding: 1em;
        margin: 1em 2em;
        align-items: center;
        border: solid 1px #ec407a;
    }

    .itens-projetos p{
        text-align: center;

    }

    .repositorio-github {
        padding: 1em;
        margin: 1em 2em;
        background-color: #ec407a;
        border: solid 1px;
        border-radius: 10px;
        color: black;
    }

    .servicos-grid {
        display: block;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .servicos {
        display: grid;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .servicos h2{
        font-size: 2em;
        margin: 1em 0;
    }

    .itens-servicos-div {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .itens-servicos {
        display: grid;
        padding: 1em;
        margin: 1em 2em;
        align-items: center;
    }

    .div-img-servicos {
        display: flex;
        padding: 1em;
    }

    .itens-servicos img{
        padding: 0;
        margin: auto;
    }

    .itens-servicos h3 {
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .itens-servicos p{
        text-align: center;
    }

    .conhecimentos {
        display: block;
        margin: 0;
        padding: 0;
    }

    .div-titulo-conhecimentos {
        margin: 0;
        padding: 0;
    }

    .conhecimentos h2 {
        font-size: 2em;
        margin: 1em 0;
    }

    .itens-conhecimentos-div {
        display: block;
    }

    footer {
        display: grid;
        padding: 1em;
    }

    footer h2 {
        text-align: center;
    }

    footer img {
        width: 10%;
        padding: 1em;
        margin: 0 auto;
    }

}